body {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.2)), url("../imgs/photo-1499346030926-9a72daac6c63.avif");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.glass-card {
  min-height: 70vh;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.inner {
  background-color: rgba(250, 235, 215, 0.301);
}
.form-control {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.form-control:focus {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
